.indexFormularioOrdem {
    background-image: linear-gradient(to left bottom, #1c1c1d, #1a1a1b, #181819, #151516, #131314);
}

.formularioOrdem {
    width: 100%;
    height: 140vh;
    display: flex;

    .containerFormularioOrdem {
        width: 80%;
        height: 90%;
        margin: auto;
        display: flex;
        display: flex;

        .containerList {
            width: 100%;
            height: 100%;
            margin: auto;
            display: flex;

            .forms {
                width: 80%;
                margin: auto;

                h1 {
                    color: blue;
                }
            

                label {
                    width: 100%;
                    color: whitesmoke;
                    margin-top: 2vh;
                }
                input {
                    width: 100%;
                    margin-top: 2vh;
                    border-radius: 5px;
                    background-color: rgb(43, 42, 42);
                    border: 1px solid rgba(105, 104, 104, 0.521);
                    color: whitesmoke;
                }
                textarea {
                    margin-top: 1vh;
                    width: 100%;
                    border-radius: 5px;
                    background-color: rgb(43, 42, 42);
                    border: 1px solid rgba(105, 104, 104, 0.521);
                    color: whitesmoke;
                }

                select {
                    margin-top: 1vh;
                    width: 30%;
                    border-radius: 5px;
                    background-color: rgb(43, 42, 42);
                    border: 1px solid rgba(105, 104, 104, 0.521);
                    color: whitesmoke;
                }

                button {
                    margin-left: 0vh;
                    margin-top: 4vh;
                    width: 150px;
                    background-color: greenyellow;
                    border: 1px solid greenyellow;
                }
            }


            h2 {
                color: whitesmoke;
            }

            .buttons {
                width: 96%;
                height: 50px;
                margin: auto;
                margin-top: 70px;
                display: flex;
                align-items: center;

                button {
                    width: 230px;
                    height: 35px;
                    border-radius: 5px;
                    border: 1px solid white;
                    background-color: transparent;
                    color: rgb(238, 238, 238);
                    font-weight: bold;
                    margin-right: 3vh;
                }
            }

            .List {
                width: 96%;
                height: 70vh;
                margin: auto;
                margin-top: 4vh;

                ul {
         
                    padding: 0;
                    margin: 0;

                    li {
                        list-style: none;
                        display: flex;
                        margin-top: 1vh;

                        span {
                            flex: 1;
                            padding: 5px;
                            color: whitesmoke;
                            font-size: 14px;

                            button {
                                
                                font-size: 12px;
                                border: none;
                            }
                        }
                    }

                    .header {
                        font-weight: bold;
                        background-color: rgb(226, 226, 226);

                        span {
                            color: rgb(29, 29, 29);
                        }
                    }
                  }
            }

            
        }
    }
}