
.menuLateral {
    width: 15%;
    margin-top: 200px;
    height: 100vh;
    margin-left: 0;

    .menuDashboard {
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        background-color: rgb(241, 241, 241);

        ul {
            width: 90%;
            height: 100%;
            margin: auto;
            margin-top: 120px;
            margin-left: 0;
            align-items: center;

            h2 {
                color: whitesmoke;
                margin-top: 100px;
            }

            li {
                width: 100%;
                height: 100px;
                margin: auto;
                background-color: white;
                list-style: none;
                display: flex;
                align-items: center;

                a {
                    margin-left: 2vh;
                    font-size: 20px;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}