@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
.navbar {

    width: 100%;
    height: 17vh;
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color: transparent;
    border-bottom: 1px solid rgba(245, 245, 245, 0.164);

    .navSuperior {
        width: 100%;
        height: 10vh;
        display: inline-block;
        align-items: center;

        ul {
            width: 95%;
            height: 50%;
            margin: auto;
            display: flex;
            justify-content: space-between;


            li {
                list-style: none;
                height: 100%;
                width: 30%;
                font-family: 'Kanit', sans-serif;
                display: flex;
                align-items: center;

                a {
                    font-family: 'Raleway', sans-serif;
                    font-size: 20px;
                    margin-left: 2vh;
                    margin-top: 1vh;
                    font-weight: 800;
                    color: rgb(170, 169, 169);
                    text-decoration: none;
                    font-size: 27px;

                    span {
                        color: rgb(4, 197, 223);
                    }
                }

                .logo-responsive {
                    visibility: hidden;
                    width: 0;
                    font-family: 'Raleway', sans-serif;
                    font-size: 20px;
                    margin-left: 2vh;
                    margin-top: 1vh;
                    font-weight: 800;
                    color: rgb(170, 169, 169);
                    text-decoration: none;
                    font-size: 27px;

                    span {
                        color: rgb(4, 197, 223);
                    }
                }

                @media (max-width: 768px) {
                    a {
                        visibility: hidden;
                        width: 0;
                    }

                    .logo-responsive {
                        width: 100px;
                        margin-left: 1vh;
                        visibility: visible;
                    }
                }

                @media (max-width: 550px) {

                    .logo-responsive {
                        width: 50px;
                        margin-left: 0vh;
                        visibility: visible;
                        font-size: 20px;

                    }
                }

                .link {

                    height: 80%;
                    margin: auto;
                    display: flex;

                    a {
                        margin: auto;
                        text-decoration: none;
                        color: rgb(212, 211, 211);
                        font-family: 'Raleway', sans-serif;
                    }

                    a:hover {
                        transition: .4s ease;
                        color: rgb(82, 83, 81);
                        font-weight: 600;
                    }
                }

                .redes {
                    width: 240px;
                    height: 50px;
                    margin: auto;
                    margin-left: 25%;
                    border-radius: 10px;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    background-color: rgb(34, 33, 33);
                    display: flex;
                    align-items: center;

                    a {
                        width: auto;
                        display: flex;
                        align-items: center;
                        margin-top: 0;
                        visibility: visible;

                        img {
                            width: 20px;
                            height: 20px;
                            margin-left: 1vh;
                        }

                        .user-icon {
                            width: 25px;
                            height: 25px;
                        }
                    }
                }

                @media (max-width: 1440px) {
                    .redes {
                        margin-left: 50%;
                    }
                }

                @media (max-width: 1024px) {
                    .redes {
                        margin-left: 35%;
                    }
                }

                @media (max-width: 768px) {
                    .redes {
                        margin-left: 15%;
                    }
                }

                @media (max-width: 550px) {
                    .redes {
                        width: 150px;
                        margin-left: 0;

                        a {

                            img {
                                width: 15px;
                                height: 15px;
                                margin-left: 0vh;
                            }

                            .user-icon {
                                width: 25px;
                                height: 25px;
                            }
                        }
                    }
                }


                h1 {
                    font-family: 'Raleway', sans-serif;
                    font-size: 20px;
                    margin-left: 2vh;
                    margin-top: 1vh;
                    font-weight: 800;
                    color: rgb(170, 169, 169);

                    span {
                        color: rgb(4, 197, 223);
                    }
                }

                h2 {
                    font-family: 'Raleway', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }

        .nav-inferior {
            width: 70%;
            height: 20%;
            margin: auto;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            .MobileNavigation {

                visibility: hidden;
                width: 0;

                .mob {
                    display: inline-block;
                    width: 50vh;
                    height: 90vh;
                    position: fixed;
                    margin-top: 6.5vh;
                    margin-left: -12vh;
                    z-index: 100;
                    background-color: rgb(28, 32, 32);

                    li {
                        width: 100%;
                        height: 12.5%;

                        a {
                            text-decoration: none;
                            color: whitesmoke;
                            font-size: 22px;
                            margin-left: -4vh;
                            font-family: 'Raleway', sans-serif;


                        }
                    }

                    @media (max-width: 1024px) {
                        li {
                            visibility: visible;

                            a {
                                visibility: visible;
                            }
                        }
                    }

                }
            }

            @media (max-width: 550px) {
                .MobileNavigation {
                    width: 30px;
                    margin-left: 0;

                    .Hamburguer {

                        width: 30px;
                        height: 30px;
                        margin-left: -2vh;
                    }
                }
            }

            li {

                a {
                    text-decoration: none;
                    color: rgb(139, 136, 136);
                    font-weight: 400;
                    font-size: 14px;
                }

                a:hover {
                    transition: .4s ease;
                    color: rgb(238, 236, 236);
                }
            }
        }
    }
}
