

.estoque {
    width: 100%;
    height: 100vh;
    display: flex;

    .containerEstoque {
        width: 95%;
        height: 95%;
        margin: auto;
        display: flex;
        display: flex;

        .containerList {
            width: 100%;
            height: 85%;
            margin: auto;
            display: inline-block;

            h1 {
                position: absolute;
                margin-top: 0vh;
                margin-left: 3vh;
                color: rgb(4, 197, 223);
            }

            h2 {
                color: whitesmoke;
            }

            .buttons {
                width: 96%;
                height: 50px;
                margin: auto;
                margin-top: 70px;
                display: flex;
                align-items: center;
                text-align: center;

                button {
                    width: 180px;
                    height: 30px;
                    border-radius: 10px;
                    border: none;
                    background-color: rgb(250, 244, 244);
                    color: rgb(238, 238, 238);
                    font-weight: bold;
                    margin-right: 3vh;

                    a {
                        color: rgb(80, 79, 79);
                        text-decoration: none;
                        font-size: 14px;
                    }
                }
            }


            .List {
                width: 96%;
                height: 70vh;
                margin: auto;
                margin-top: 4vh;
                display: flex;

                .related {
                    width: 25%;
                    height: auto;
                    margin: auto;
                    margin-top: 0;

                    .listaCompras {
                        width: 90%;
                        min-height: 400px;
                        height: auto;
                        background-color: rgb(226, 226, 224);
                        margin: auto;
                        margin-top: 1vh;
                        display: inline-block;

                        .btn-compras {
                            display: flex;
                            margin-top: 2vh;

                            .btn-primary {
                                width: 150px;
                                height: 40px;
                                margin-left: 3vh;
                                background-color: rgb(105, 105, 105);
                                border: none;
                                color: whitesmoke;
                                border-radius: 5px;
                                font-size: 14px;

                            }
                            .btn-sucundary {
                                width: 150px;
                                height: 40px;
                                margin-left: 2vh;
                                background-color: rgb(4, 130, 168);
                                border: none;
                                border-radius: 5px;
                                font-size: 14px;
                            }
                        }

                        .header-l {
                            width: 100%;
                            height: 40px;
                            margin: 0;
                            background-color: rgb(255, 221, 30);
                            display: flex;
                            align-items: center;

                            h2 {
                                width: 100%;
                                margin-top: 1vh;
                                margin-left: 2.5vh;
                                font-size: 18px;
                                color: rgb(41, 41, 41);
                            }
                        }
    
                       

                        ul {
                            width: 90%;
                            min-height: 220px;
                            margin: auto;
                            margin-top: 2vh;

                            li {
                                margin-top: 0;
            
                                span {
                                    margin-top: 0;
                                    color: black;
                                }
                            }
                        }
                    }

                    .listaEstoqueBaixo {
                        width: 90%;
                        min-height: 200px;
                        height: auto;
                        background-color: rgb(219, 0, 0);
                        margin: auto;
                        margin-top: 50px;
                        display: inline-block;
    
                        h2 {
                            margin-top: 1vh;
                            margin-left: 2vh;
                            font-size: 22px;
                            font-weight: bolder;
                            color: rgb(231, 225, 225);
                        }
                    }

                }

                ul {
                    width: 70%;
                    padding: 0;
                    margin: 0;

                    .pagination {
                        margin-top: 100px;
                        ul {
                            width: auto;
                            margin: auto;
                            display: flex;
                
                            .page-item {
                                width: 100%;
                                margin: auto;
                                border-bottom: none;


                                .page-link {
                                    height: 30px;
                                    font-size: 10px;
                                    margin: auto;
                                    margin: 2vh;
                                    border-radius: 5px;
                                    cursor: pointer;
                                    background-color: rgb(233, 229, 229);
                                    font-weight: bold;
                                }
                            }
                            
                        }
                    }

                    .header {
                        font-weight: bold;
                        background-color: rgb(226, 226, 226);
                        display: flex;
                        width: 100%;
                        list-style: none;
                        align-items: center;

                        span {
                            width: 10%;
                            color: rgb(29, 29, 29);
                            flex: 1;
                            padding: 5px;
                            font-size: 14px;
                            display: flex;
                            align-items: center;
                        }
                    }

                    li {
                        width: 100%;
                        list-style: none;
                        display: flex;
                        margin-top: 1vh;
                        align-items: center;
                        border-bottom: 1px solid rgba(245, 245, 245, 0.171);

                        span {
                            width: 10%;
                            flex: 1;
                            padding: 5px;
                            color: whitesmoke;
                            font-size: 14px;
                            display: flex;
                            align-items: center;
          

                            h3 {
                                font-size: 15px;
                                margin-right: 2vh;
                            }

                            .btn-edit {
                                height: 20px;
                                background-color: blue;
                                margin-right: 2vh;
                                font-size: 12px;
                                border-radius: 5px;
                                border: none;

                                a {
                                    color: whitesmoke;
                                    text-decoration: none;
                                }
                            }
                            .btn-delete {
                                height: 20px;
                                background-color: rgb(243, 20, 20);
                                font-size: 12px;
                                margin-right: 2vh;
                                border-radius: 5px;
                                border: none;

                                a {
                                    color: whitesmoke;
                                    text-decoration: none;
                                }
                            }
                            .btn-details {
                                height: 20px;
                                background-color: rgb(238, 185, 11);
                                font-size: 12px;
                                border: none;
                                border-radius: 5px;

                                a {
                                    color: whitesmoke;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                  }
            }

            
        }
    }
}

@media (max-width: 1440px) {
    
.estoque {
    height: 150vh;
    .containerEstoque {
       width: 100%;
       margin-bottom: 10vh;
        .containerList {
            width: 90%;
            margin: auto;

            .List {
                width: 100%;
                display: inline-block;
                
                .related {
                    width: 100%;
                    height: auto;

                    .listaCompras {
                        width: 100%;
                        min-height: 100px;
                        
                        .btn-compras {
                            margin-top: 0;
                        }

                        .header-l {
                            width: 100%;
                        }
    
                        ul {
                          width: 100%;
                        }
                    }

                    .listaEstoqueBaixo {
                        width: 100%;
                    }
                }

                ul {
                  width: 100%;

                    .header {

                        .span-mobile-tableb-remove {
                            width: 0;
                            visibility: hidden;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}
}
