
.maquinasSingle {
    background-image: linear-gradient(to left bottom, #1c1c1d, #1a1a1b, #181819, #151516, #131314);


    .containerSingle {
        width: 100%;
        height: 70vh;

        h1 {
            width: 100%;
            margin: auto;
            text-align: center;
            margin-top: 150px;
            color: whitesmoke;
        }
        .box {
            width: 80%;
            height: auto;
            margin-left: 10%;
            margin-top: 50px;
            display: inline-block;

            h2 {
                margin-left: 10%;
                margin-top: 2vh;
                color: whitesmoke;
                font-size: 20px;
            }

            .md-3 {
                width: 80%;
                height: 30px;
                margin: auto;
                background-color: rgba(63, 62, 62, 0.836);
                border-radius: 2px;
                margin-top: 1vh;
                display: flex;
                align-items: center;

                h3 {
                    color: whitesmoke;
                    font-size: 16px;
                    margin-left: 2vh;
                    margin: auto;
                    font-weight: 300;
                }
                
            }

            .md-10 {
                width: 80%;
                height: 30px;
                margin: auto;
                background-color: rgba(63, 62, 62, 0.836);
                border-radius: 2px;
                margin-top: 1vh;
                display: flex;
                align-items: center;

                h3 {
                    color: whitesmoke;
                    font-size: 16px;
                    margin-left: 2vh;
                    margin: auto;
                    font-weight: 300;
                }
            }
        }
    }
}